@use 'sass:map';
@use '../../theme/flicktionary-colors' as theme-colors;
@use '@angular/material' as mat;

.footer-container {
  padding: 2rem 0;
  border-top: 1px solid map.get(theme-colors.$primary-palette, 20);
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    flex-direction: column;
  }
  @media (min-width: 768px) {
    .mat-toolbar-row,
    .mat-toolbar-single-row {
      flex-direction: row;
    }
  }
}
.footer,
.footer.mat-toolbar {
  background-color: transparent;
  color: map.get(theme-colors.$original-palette, 'secondary_');

  .footer__filler {
    flex: 1 1 auto;
  }

  .title-container {
    display: flex;
    gap: 1em;
    font-size: 1rem;

    h6 {
      display: inline-block;
      font-size: 1em;
    }
  }

  .footer__button {
    color: map.get(theme-colors.$original-palette, 'secondary_');
    &.active-link {
      color: map.get(theme-colors.$original-palette, 'light');
    }
  }
}
