<div class="main-page">
  <div class="container">
    <h1 class="main-page__title">
      Welcome to myFlix!
    </h1>
    <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
      <mat-icon aria-hidden="false" aria-label="signup icon" fontIcon="person_add"></mat-icon>
      Sign Up
    </button>
    <button mat-raised-button (click)="openUserLoginDialog()" color="primary">
      <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="login"></mat-icon>
      Login
    </button>
  </div>
</div>