<mat-card>
  <mat-card-title>Edit Profile</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput [(ngModel)]="editUserData.Username" name="Username" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="editUserData.Email" name="Email" placeholder="Email" type="email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="editUserData.Birthday" name="Birthday" placeholder="Birthday" type="date">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="editUserData.Password" name="Password" placeholder="Password" type="password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="updateUser()">Save</button>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
  </mat-card-actions>
</mat-card>