<mat-toolbar color="secondary">
  <div class="title-container">
    <h1>F L I C K T I O N A R Y!</h1>
    <h2>A dictionary for flicks</h2>
  </div>
  <span class="example-fill-remaining-space"></span>
  <ng-container *ngIf="isLoggedIn">
    <span>
      <button mat-button routerLink="/movies" routerLinkActive="active-link">Movies</button>
      <button mat-button routerLink="/profile" routerLinkActive="active-link">Profile</button>
    </span>
    <button mat-button (click)="userLogout()">Logout</button>
  </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>