@use 'sass:map';
@use '../../theme/flicktionary-colors' as theme-colors;
@use '@angular/material' as mat;

.main-toolbar-container {
  padding: 1.5rem;
  background-color: map.get(theme-colors.$original-palette, 'dark-light');
}
.main-toolbar,
.main-toolbar.mat-toolbar {
  background-color: transparent;
  .main-toolbar__title {
    color: map.get(theme-colors.$original-palette, 'light');
    h1 {
      font-size: calc(1.275rem + 0.3vw) !important;
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.1;
    }
    h2 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
    }
  }
  .main-toolbar__filler {
    flex: 1 1 auto;
  }
  .main-toolbar__buttons {
    display: flex;
    gap: 0.625rem;
  }
  .main-toolbar__icon-button {
    color: map.get(theme-colors.$original-palette, 'light');
    &.active-link {
      color: map.get(theme-colors.$original-palette, 'secondary_');
    }
  }
}
