<div class="user-profile">
  <div class="container user-profile__container">
    <mat-card *ngIf="!loading; else loadingTemplate" class="user-profile__card">
      <mat-card-header>
        <mat-card-title>Welcome, {{ user.Username }}!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4>This is your profile information.</h4>
        <p><em>Email:</em> {{ user.Email }}</p>
        <p><em>Birthday:</em> {{ formattedBirthday }}</p>
        <h4>You can edit or delete your profile below.</h4>
        <button mat-raised-button color="primary" (click)="openEditProfileDialog()">Edit Profile</button>
        <button mat-raised-button color="primary" (click)="deleteAccount()">
          Delete Account
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="favorite-movies">
  <div class="container">
    <h2 class="favorite-movies__title">Favorite Movies</h2>
  </div>
  <app-movie-card [favoriteMovieIds]="user.FavoriteMovies" [showOnlyFavorites]="true"></app-movie-card>
</div>

<ng-template #loadingTemplate>
  <div style="display: flex; justify-content: center; align-items: center; height: 200px;">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>